*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: #0c1b29;
	background-attachment: fixed;
	position: relative;
	color: #AE3139;
	font-size: 1rem;
	font-family: 'Raleway', sans-serif;
}

.container {
	margin-top: 100px;

}

.large {
	font-size: 3rem;
}

p.review {
	font-size: 12px;
	height: 200px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

p.description {
	width: 100%;
	margin: 16px;
}

.heading {
	width: 100%;
	margin-top: 150px;
	margin-left: 1rem;
	font-weight: 900;
	font-size: 1.618rem;
	text-transform: uppercase;
	letter-spacing: 0.1ch;
	line-height: 1;
	padding-bottom: 0.5em;
	margin-bottom: 1rem;
	position: relative;
}

.heading:after {
	display: block;
	content: '';
	position: absolute;
	width: 60px;
	height: 4px;
	background: linear-gradient(135deg, #AE3139, #391922);
	bottom: 0;
}


.button,
#submit {
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	padding: 0.5em 1em;
	border-radius: 100px;
	background: linear-gradient(135deg, #AE3139, #391922);
	border: none;
}


.button.delete-button {
	background-color: rgba(230, 87, 230, 0.25);
	background: linear-gradient(135deg, #e61a46, #e61a1a);
}

.button.delete-button:before {
	background-color: rgba(230, 87, 230, 0.25);
	box-shadow: 0 0 10px 10px rgba(230, 87, 230, 0.25);
}

.button:hover {
	transform: translateZ(55px);
	color: #b7afaf;
}

.add-btn {
	position: absolute;
	bottom: 5px;
	font-size: 14px;
	z-index: 2;
	font-weight: 200;

}


/* navbar */
.navbar {
	padding: 0 30px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	transition: all 0.5s ease;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	font-size: 1.2rem;
}


#navbarNavAltDropdaown {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navbar-brand {
	font-size: 1.7rem;
	margin-right: 100px;
}

.nav-scroll {
	background-color: #0c1b29;
}

@media screen and (max-width: 1000px) {

	#navbarNavAltMarkup {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
}


/* INDEX HTML */

.hero {
	width: 100%;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background:
		linear-gradient(rgba(0, 0, 0, 0.2), rgba(10, 10, 10, 0.9)),
		url('https://images.unsplash.com/photo-1585366119957-e9730b6d0f60?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2342&q=80');
	background-size: cover;
	background-position: center;
}

.hero .title {
	font-size: 6rem;
	margin: 50px;
	text-transform: uppercase;
	letter-spacing: 15px;
	line-height: 76px;
	color: #fff;
	text-shadow:
		0 0 2px #fff,
		0 0 10px #fff,
		0 0 20px #AE3139,
		0 0 30px #AE3139,
		0 0 40px #AE3139,
		0 0 50px #AE3139;
	animation: blink 1.5s infinite alternate;
}


@keyframes blink {
	0% {}

	100% {
		text-shadow:
			0 0 2px #fff,
			0 0 10px #fff,
			0 0 20px #fff,
			0 0 40px #AE3139,
			0 0 70px #AE3139,
			0 0 80px #AE3139;
	}
}

.hero .subtitle {
	font-size: 2.5rem;
}


.container.main {
	margin-top: 50px;
	-webkit-box-relext: below 1px linear-gradient (transparent, rgba(0, 0, 0, 0, 2))
}

h1.trending {
	margin-top: 0;
}


/* Detail HTML */
.two-column {
	display: flex;
	justify-content: space-between;
}

.two-column .left {
	width: 45%;
	height: 700px;
	border-radius: 10px;
	text-align: center;
}

.two-column .right {
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.two-column .left img {
	width: 80%;
	object-fit: cover;
	border-radius: 10px;
	margin: 0 auto;
}

.two-column .right .trailor {
	width: 100%;
	height: 50%;

}

.detail {
	margin-top: 150px;
}



.add {
	padding: 20px 10px;
}


.card-container {
	display: flex;
	flex-wrap: wrap;
}

.card,
.poster {
	background-color: transparent;
	cursor: pointer;
	width: calc(23% - 3rem);
	min-width: 250px;
	height: 350px;
	min-height: 350px;
	margin: 0.5rem auto;
	position: relative;
	display: inline-block;
}

@media screen and (max-width: 1400px) {

	.card,
	.poster {
		width: calc(28% - 3rem);
	}
}

@media screen and (max-width: 1200px) {

	.card,
	.poster {
		width: calc(36% - 3rem);
	}
}

@media screen and (max-width: 1000px) {

	.card,
	.poster {
		width: calc(50% - 3rem);
	}
}

@media screen and (max-width: 525px) {

	.card,
	.poster {
		width: 100%;
	}
}

.front,
.back {
	display: flex;
	border-radius: 6px;
	background-position: contain;
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	text-align: center;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 100%;
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	transition: ease-in-out 600ms;
}

.front {
	background-color: transparent;
	border: none;
	padding: 2rem;
	font-size: 1.618rem;
	font-weight: 600;
	color: #b7afaf;
	overflow: scroll;
	font-family: Poppins, sans-serif;
}

.front:before {
	position: absolute;
	display: block;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(135deg, #1a9be6, #1a57e6);
	opacity: 0.25;
	z-index: -1;
}

.card:hover .front {
	transform: rotateY(180deg);
}

.card:nth-child(even):hover .front {
	transform: rotateY(-180deg);
}

.back {
	background: #e0d7d7;
	transform: rotateY(-180deg);
	padding: 0 2em;
}

.back-content {
	width: 100%;
	font-size: 14px;
	font-weight: 200;
	color: #391922;
}

.card:hover .back {
	transform: rotateY(0deg);
}

.card:nth-child(even) .back {
	transform: rotateY(180deg);
}

.card:nth-child(even):hover .back {
	transform: rotateY(0deg);
}

.rating {
	color: #AE3139;
}

.review {
	font-style: italic;
	overflow-wrap: break-word;
	line-height: normal;
}

.title {
	font-weight: bold;
}

.release_date {
	font-weight: normal;
}



.poster {
	border-radius: 6px;
}

.poster .link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.poster:hover {
	border: #AE3139 solid 2px;
}

.flash_container {
	position: absolute;
	top: 100px;
	z-index: 3;
}



.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#edit-form,
#search-form {
	width: 50%;
	height: 400px;
}