*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 18px;
	line-height: 1.5;
	font-weight: 300;
	color: #333;
	font-family: "Nunito Sans", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: #ecf0f9;
	background-attachment: fixed;
	position: relative;

}

.container {
	margin-top: 100px;
}

.large {
	font-size: 3rem;
}

.content {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 1500px;
}

p.overview {
	font-size: 12px;
	height: 200px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.heading {
	width: 100%;
	margin-left: 1rem;
	font-weight: 900;
	font-size: 1.618rem;
	text-transform: uppercase;
	letter-spacing: 0.1ch;
	line-height: 1;
	padding-bottom: 0.5em;
	margin-bottom: 1rem;
	position: relative;
}

.heading:after {
	display: block;
	content: '';
	position: absolute;
	width: 60px;
	height: 4px;
	background: linear-gradient(135deg, #1a9be6, #1a57e6);
	bottom: 0;
}

.description {
	width: 100%;
	margin-top: 0;
	margin-left: 1rem;
	margin-bottom: 3rem;
}

.two-column {
	display: flex;
	justify-content: space-between;
}

.two-column .left {
	width: 45%;
	height: 700px;
}

.two-column .right {
	width: 45%;
	display: flex;
	flex-direction: column;
}

.two-column .left img {
	width: 100%;
	height: 100%;
	object-fit: contain;

}

.two-column .right .trailor {
	width: 100%;
	height: 50%;

}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.navbar-brand {
	padding-top: 0.8rem;
	font-size: 2rem;
}

.button {
	transform: translateZ(40px);
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	font-weight: bold;
	color: #fff;
	padding: 0.5em 1em;
	border-radius: 100px;
	font: inherit;
	background: linear-gradient(135deg, #1a9be6, #1a57e6);
	border: none;
	position: relative;
	transform-style: preserve-3d;
	transition: 300ms ease;
}

.button:before {
	transition: 300ms ease;
	position: absolute;
	display: block;
	content: '';
	transform: translateZ(-40px);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	border-radius: 100px;
	left: 10px;
	top: 16px;
	box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
	background-color: rgba(26, 87, 230, 0.25);
}

.button.delete-button {
	background-color: rgba(230, 87, 230, 0.25);
	background: linear-gradient(135deg, #e61a46, #e61a1a);
}

.button.delete-button:before {
	background-color: rgba(230, 87, 230, 0.25);
	box-shadow: 0 0 10px 10px rgba(230, 87, 230, 0.25);
}

.button:hover {
	transform: translateZ(55px);
}

.button:hover:before {
	transform: translateZ(-55px);
}

.button:active {
	transform: translateZ(20px);
}

.button:active:before {
	transform: translateZ(-20px);
	top: 12px;
	top: 12px;
}

.container.add {
	margin-top: 40px;
	margin-bottom: 20px;
}