{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{movie.title}}{% endblock %}

{% block content %}
<div class="container detail">

    <div class="two-column">
        <div class="left">
            <img src="https://image.tmdb.org/t/p/w500{{movie['poster_path']}}" alt="movie_picture" width="250">
        </div>
        <div class="right">
            <h1>{{movie.title}}</h1>
            <p>{{movie.release_date.split("-")[0]}}</p>
            <p>{{movie.overview}}</p>
            <iframe class="trailor" src="{{video_path}}" allowfullscreen="" frameborder="0"></iframe>
            <a class='button' href="{{url_for('movies.find_movie', id=movie.id)}}">Add to My Movies</a>
        </div>
    </div>
</div>

{% endblock %}