{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Movie Master{% endblock %}

{% block content %}
{% include 'message.html' %}
<div class="hero">
    <h1 class="title">Movie Master</h1>
</div>

<div class="container main">
    <h1 class="heading trending">Trending</h1>
    <p class="description">Explore and Find Your Favorite Movies.</p>
    <div class="card-containter">
        {% for movie in movies%}
        <div class="poster">
            <div class="front"
                style="background-image: url('https://image.tmdb.org/t/p/w500{{movie['poster_path']}}');">
                <a href="{{url_for('movies.show_one_movie', id=movie.id)}}">
                    <span class="link"></span>
                </a>
            </div>
        </div>
        {% endfor%}

    </div>
</div>


{% endblock %}