{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Add Movie{% endblock %}

{% block content %}

<!-- <div class="container">
  <h1 class="heading">Select Movie</h1>
  <div id="all-movies" class="card-containter">
    {% for movie in movies%}
    <div class="movie-card">
      <a id="view-movie" href="{{url_for('movies.show_one_movie', id=movie.id)}}"><img
          src="https://image.tmdb.org/t/p/w500{{movie['poster_path']}}" alt="movie_picture" width="250"></a>
      <a id="add_movie" href="{{url_for('movies.find_movie', id=movie.id)}}">add to my movies</a>
    </div>
    {% endfor%}
  </div>

</div> -->
<div class="container">
  <h1 class="heading">Select Movie </h1>
  <div id="all-movies" class="card-containter">
    {% for movie in movies%}
    <div class="poster">
      <div class="front" style="background-image: url('https://image.tmdb.org/t/p/w500{{movie['poster_path']}}');">
        <a href="{{url_for('movies.show_one_movie', id=movie.id)}}">
          <span class="link"></span>
        </a>
        <a class='button add-btn' href="{{url_for('movies.find_movie', id=movie.id)}}">Add to My Movies</a>
      </div>
    </div>
    {% endfor%}
  </div>
</div>



{% endblock %}