{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}My Movies{% endblock %}

{% block content %}
<div class="container">
  <h1 class="heading">My Movies</h1>
  <p class="description">These are the movies I have watched.</p>
  <div class="add">
    <a href="{{url_for('movies.search_movie')}}" class="button">Add Movie</a>
  </div>

  <div class="card-container">
    {% for movie in movies%}
    <div class="card">
      <div class="front" style="background-image: url('{{movie.img_url}}');">
        <p class="large">{{movie.ranking}}</p>
      </div>
      <div class="back">
        <div class="back-content">
          <div class="title">{{movie.title}} <span class="release_date">({{movie.year}})</span></div>
          <div class="rating">
            <label>{{movie.rating}}</label>
            <i class="fas fa-star star"></i>
          </div>
          <p class="review">{{movie.review}}</p>

          <a href="{{url_for('movies.edit', movie_id=movie.id)}}" class="button">Update</a>
          <a href="{{url_for('movies.delete', movie_id=movie.id)}}" class="button delete-button">Delete</a>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}